In [ ]:
import pandas
import matplotlib.pyplot as plt

In [ ]:
dataframe = pandas.read_csv('data/bil100od1002.csv')

In [ ]:
display(dataframe)
dataframe.info()

In [ ]:
obl = dataframe.query('Bildungsstand == "Obligatorische Schule"')
sek = dataframe.query('Bildungsstand == "Sekundarstufe II"')
ter = dataframe.query('Bildungsstand == "Terti√§rstufe"')
serie_obl = pandas.Series(obl['AntBev'].values, index=obl['Jahr'])
serie_sek = pandas.Series(sek['AntBev'].values, index=sek['Jahr'])
serie_ter = pandas.Series(ter['AntBev'].values, index=ter['Jahr'])

In [ ]:
serie_obl

In [ ]:
serie_sek

In [ ]:
serie_ter

In [ ]:
plt = serie_sek.plot()
serie_obl.plot(ax=plt)
serie_ter.plot(ax=plt)