In [16]:
import pandas

In [10]:
dataframe = pandas.read_json('nachnamen_proplz.json', dtype={'plz': 'str'})

In [17]:
display(dataframe)

,stichdatum,plz,nachname,anzahl,rang,ortbez18,sexcode
0,2020-11-16,None,n/a,2,1,None,w
1,2020-11-16,None,n/a,3,1,None,m
2,2020-11-16,None,n/a,2,3,None,m
3,2020-11-16,1000,Jolles,15,1,Lausanne/Lausanne 25/Lausanne 26/Lausanne 27,w
4,2020-11-16,1000,Blanc,11,2,Lausanne/Lausanne 25/Lausanne 26/Lausanne 27,w
...,...,...,...,...,...,...,...
32680,2020-11-16,9658,Forrer,39,1,Wildhaus,w
32681,2020-11-16,9658,Wenk,29,2,Wildhaus,w
32682,2020-11-16,9658,Stump,27,3,Wildhaus,w
32683,2020-11-16,9658,Eggenberger,23,4,Wildhaus,w
32684,2020-11-16,9658,Forrer,37,1,Wildhaus,m

,stichdatum,plz,nachname,anzahl,rang,ortbez18,sexcode
0,2020-11-16,None,n/a,2,1,None,w
1,2020-11-16,None,n/a,3,1,None,m
2,2020-11-16,None,n/a,2,3,None,m
3,2020-11-16,1000,Jolles,15,1,Lausanne/Lausanne 25/Lausanne 26/Lausanne 27,w
4,2020-11-16,1000,Blanc,11,2,Lausanne/Lausanne 25/Lausanne 26/Lausanne 27,w
...,...,...,...,...,...,...,...
32680,2020-11-16,9658,Forrer,39,1,Wildhaus,w
32681,2020-11-16,9658,Wenk,29,2,Wildhaus,w
32682,2020-11-16,9658,Stump,27,3,Wildhaus,w
32683,2020-11-16,9658,Eggenberger,23,4,Wildhaus,w
32684,2020-11-16,9658,Forrer,37,1,Wildhaus,m